mat-form-field {
  width: 300px;
}

section {
  /* margin-top: 12%; */

  background-image: url("../../../../assets/login.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  background-position: center;
}
