mat-card {
  height: 380px;
  width: 400px;
  
  box-shadow: 1px 1px 0px 1px gray;
  
}
 


.btn {
  background-color: blueviolet;
  color: white;
  border: none;
  outline: none;
  letter-spacing: 0.5px;

 
}

 
 