<div align="center">
  <section>
    <mat-card>
      <div fxLayout="column">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email*</mat-label>
            <input matInput type="text" placeholder="Placeholder" />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Email</mat-hint> -->
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>password*</mat-label>
            <input matInput type="password" placeholder="Placeholder" />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Email</mat-hint> -->
          </mat-form-field>
          <div fxLayoutAlign="end start">
            <button mat-button class="btn" (click)="onSubmit()">sign-in</button>
          </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="space-evenly center">
            <button mat-button class="btn">sign-up</button> <p>Forget password?</p>
        </div>
      </div>
    </mat-card>
  </section>
</div>
